body{
  background-color: #000;
  color: green;
  text-align: center;
  font-family: 'VT323', 'Inconsolata', monospace;
  font-size: 2em;
}

h1{
  font-size: 4em;
}

h2{
  font-size: 2em;
}

#symbol, #shares{
  width:4em;
  border: 8px solid #fdfdfd;
  color: #fff;
  font-family: 'VT323', 'Inconsolata', monospace;
  font-size: 2em;
  border-radius: 5%;
  position:relative;
  margin:0 auto;
  text-align:center;
  padding:0.25em 1em;
  background-color:transparent;
}

#submit{
 width:3em;
 border: 2px solid #fdfdfd;
 color: #fff;
 font-family: 'VT323', 'Inconsolata', monospace;
 font-size: 1em;
 border-radius: 10%;
 position:relative;
 margin:0 auto;
 background-color:transparent; 
}

.marquee{
  style: inline;
  text-align: left;
}

