.box {
  margin:10px auto;
  border: solid 2px black;
  padding: 10px;
  color: grey;
  width:75%;
  text-align:center;
}

#summary{
  border:solid 1px black;
  width:30%;
  text-align: center;
  margin: 0 auto;
}
